<div>
    <p>Hello, this is Alejandro's homepage<p>
      <% aleFamily = ["Thais", "Humberto", "Fabiana", "Carlos"] %>
      <ul>
        <% aleFamily.each do |member|%>
          <li> <%= member %> is part of my family </li>
        <% end %>
      </ul>
</div>
